@model List<bakkalamca.Models.satis_maddeleri>
@{
    ViewBag.Title = "SMEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="padding: 30px 10px;">
    <form action="/SM/SMEkle" method="post" enctype="multipart/form-data">
        @if (Model.Count == 0)
        {
            <input type="hidden" name="sm_id" value="" />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Miktar</label>
                    <input type="text" class="form-control" name="si_miktar" id="" value="" />
                </div>
                <div class="form-group">
                    <label for="">Fiyat</label>
                    <input type="text" class="form-control" name="si_fiyat" id="" value="" />
                </div>
                <div class="form-group">
                    <label for="">Iskonto </label>
                    <input type="text" class="form-control" name="si_iskonto" id="" value="" />
                </div>
                <div class="form-group">
                    <label for="">Satis ID</label>
                    <input type="text" class="form-control" name="satis_id" id="" value="" />
                </div>
                <div class="form-group">
                    <label for="">Urun ID</label>
                    <input type="text" class="form-control" name="urun_id" id="" value="" />
                </div>
            </div>

        }
        else
        {
            <input type="hidden" name="sm_id" value="@Model[0].sm_id" />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Miktar</label>
                    <input type="text" class="form-control" name="si_miktar" id="" value="@Model[0].si_miktar" />
                </div>
                <div class="form-group">
                    <label for="">Fiyat</label>
                    <input type="text" class="form-control" name="si_fiyat" id="" value="@Model[0].si_fiyat" />
                </div>
                <div class="form-group">
                    <label for="">Iskonto </label>
                    <input type="text" class="form-control" name="si_iskonto" id="" value="@Model[0].si_iskonto" />
                </div>
                <div class="form-group">
                    <label for="">Satis ID</label>
                    <input type="text" class="form-control" name="satis_id" id="" value="@Model[0].satis_id" />
                </div>
                <div class="form-group">
                    <label for="">Urun ID</label>
                    <input type="text" class="form-control" name="urun_id" id="" value="@Model[0].urun_id" />
                </div>
            </div>
        }
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-left">Ekle</button>
        </div>
    </form>
</div>
